<header class='c-header js-header
  {{#is 'home'}}{{^if @blog.cover_image}} c-header--has-border {{/if}}{{/is}}
  {{#is 'author'}} c-header--has-border {{/is}}
  {{#is 'paged'}} c-header--has-border {{/is}}'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <label class='js-off-canvas-toggle c-off-canvas-toggle' aria-label='Toggle navigation'>
          <span class='c-off-canvas-toggle__icon'></span>
        </label>
      <div class='c-logo'>
        {{#if @blog.logo}}
          <a href='{{ @blog.url }}'>
            <img class='c-logo__img' src='{{ @blog.logo }}' alt='{{ @blog.title }}'>
          </a>
        {{else}}
          <a class='c-logo__link' href='{{ @blog.url }}'>{{ @blog.title }}</a>
        {{/if}}
      </div>

      <div class='c-off-canvas-content js-off-canvas-content'>
        <label class='js-off-canvas-toggle c-off-canvas-toggle c-off-canvas-toggle--close'>
          <span class='c-off-canvas-toggle__icon'></span>
        </label>

        {{ navigation }}

        {{> social-nav }}
      </div>
    </div>
  </div>

</header>

<div class='header-headroom-space'></div>

{{> search-form }}